body {
    background-color: rgb(213, 243, 254);
}

header {
    color:black;
    border-style: solid;
        padding: 5%;
    height: 190px;
    display:inline-block;
    background-color: rgb(15, 82, 152);
    margin:5px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    

}

header ul {
    border-style: solid;
    list-style: none;
    display: inline-flex;
    position: relative;
        left: 900px;
        bottom: 159px;
    font-size:8ch;
    padding-left: 30px;
    padding-right: 30px;
    border-width: .01px .01px .01px .01px; 
    background-color: rgb(15, 82, 152); 
    font-family:'Lucida Sans';  
}

header ul a {
    padding: 15px;
    margin-left: auto;
}

header h1 {
    color:rgb(0, 0, 0);
    font-family:'Lucida Sans';
    font-size:10ch;
    text-align:center;
}

section {
    font-family:'Lucida sans';
    font-size:2ch;
    position:relative;
        bottom: 70px;

}
section a {
    border: 30%;
    margin: 30%;
    box-sizing: content-box;
}
